.top-paragraphs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;    
    margin: 0 auto;
}
.top-paragraphs p, .top-paragraphs a     {
    margin-bottom: 50px; 
    color: white;
  }