.box_container {
    width: 60%;
    height: 250px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box1, .box2, .box3, .box4 {
    height: 100%;
    width: 30%;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.img_box1, .img_box2, .img_box3, .img_box4 {
    width: 100%;
    object-fit: cover; 
    border: 10px;
    display: block;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    width: 80%;
    transition: all 0.5s;
    border-radius: 10px;
}
.paragraph{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .box_container {
      width: 90%;
    }
  
    .box1, .box2, .box3, .box4 {
      width: 45%;
    }
  }
  
  
  
