.dashboard-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;    
  margin: 0 auto;
  }
  
  .dashboard-card {
    width: 500px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
  }
  .card a,
  .dashboard-card .card-title,
  .dashboard-card  p{
    color: white;
  }
