.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;    
    margin: 0 auto;
    width: 500px;
}
p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid white;
    padding: 5px;
    color: white;
}
th {
    text-align: center;
    color: white;
}
  